// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

/**
* Learner Dashboard override
* component: frontend-app-learner-dashboard/src/container/LearnerDashboardHeader
*
* This override removes the bottom underlines and replaces it with a bold
* to contextualize the current page.
*/
.learner-variant-header {
  a {
    // needed to make the link not resize the header
    border-bottom: 2px solid transparent;
  }
  .course-link {
    font-weight: 600;
    border-bottom: none !important;
  }

  .course-link:hover {
    border-bottom: none !important;
  }
}

/**
* Instructor Toolbar override
*
* This override moves the Instrutor toolbar from the top of the page to the bottom.
*/
div[data-testid="instructor-toolbar"] {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;

  // Increase the size of view in Studio action button so it isn't put bellow the Help widget that is on the bottom of the page.
  .container-xl {
    span:last-child {
      width: 12rem;
    }
  }
}

/**
* Increase the size of the logo in the header
*
* This override increases the header logo on all header implementations, including learning and dashboard MFEs headers.
*/
#root {
  header {
    div {
      .logo {
        height: 5rem;
      }
    }
  }
}

/**
* Remove the background of the tab navigation bar
*
* Clean up the visual glitch of changing font weight on hover
* and remove the background
*/
.course-tabs-navigation {
  border-top: solid 1px #eaeaea;
  margin-top: 1.25rem;

  .nav {
    & a:not(.active):hover,
    & a:hover, 
    & button:hover {
      background-color: transparent !important;
    }
  }
}

.nav-underline-tabs {
  .nav-link {
    &:hover, &:focus, &.active {
      font-weight: 500;
    }
  }
}
