// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/openedx/paragon/blob/master/scss/core/ for reference

$primary: #693ae9 !default;
$brand: #0640bf !default;
$teal: $primary;

// Fonts
$font-family-sans-serif: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// Button component overrides
$btn-border-radius: .25rem !default;
$btn-border-radius-sm: .25rem !default;
$btn-border-radius-lg: .25rem !default;

$custom-control-indicator-checked-color: $primary;